<ul>
  <li class="icn_categories"><a href="">Overview</a>
    <ul class="sub-menu">
      <li> add</li>
      <li> add</li>
      <li> add</li>
      <li> add</li>
      <li> add</li>
    </ul>
  </li>
  <li class="icn_categories"><a href="">Tickets</a>
    <ul class="sub-menu">
      <li><a href="#" rel="ticket" >add</a></li>
      <li> add</li>
      <li> add</li>
      <li> add</li>
      <li> add</li>
    </ul>
  </li>
  <li class="icn_categories"><a href="">Relations</a>
     <ul class="sub-menu">
      <li> add</li>
      <li> add</li>
      <li> add</li>
      <li> add</li>
      <li> add</li>
    </ul>
  </li>
  <li class="icn_categories"><a href="">Maintenance</a>
    <ul class="sub-menu">
      <li> add</li>
      <li> add</li>
      <li> add</li>
      <li> add</li>
      <li> add</li>
    </ul>
  </li>
</ul>
